.wrapper {
    display: flex;
    align-items: center;
}

.icon svg {
    margin-left: 10px;
    padding-top: 7px;
    width: 40px;
    height: 40px;
}

.counter {
    display: flex;
    align-items: center;
}